/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body, html{
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    overflow-y: hidden;
}



/*ESTILO DO CABEÇALHO*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    height: 160px;
    align-items: center;
}
.logo img{
    width: 180px;
}
header nav ul{
    list-style-type: none;
    height: 100%;
}
header nav li{
    display: inline-block;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: bold;
    padding: 7px 0;
    border-radius: 4px;
}
header a:hover{
    color: rgb(255, 255, 255);
    background-color: #F20505;
    transition: 400ms;
}



/*ESTILO DO CORPO*/
main{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}   




/*ESTILO DO LADO ESQUERDO*/
.sobre{/*AQUI ERA aside*/
    width: 50%;
    margin-right: 30px;
}
.sobre h2{/*AQUI ERA aside*/
    font-size: 30px;
    font-stretch: 20px;
}
.sobre span{/*AQUI ERA aside*/
    color: #F20505;
}
.sobre p{/*AQUI ERA aside*/
    margin: 25px 0;
    text-align: justify;
}
.sobre button{
    background-color: #F20505;
    color: white;
    border: none;
    padding: 7px 30px;
    border-radius: 25px;
    font-size: 20px;
}
.sobre button:hover{
    background-color: #590209;
    color: #F2F2F2;
    cursor: pointer;
}




/*ESTILO DO LADO DIREITO*/
article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-left: 30px;
 /*   align-items: center;*/
}
.figura img{/*IMAGEM - DOS CANTORES*/
    width: 500PX;
    position: relative;
    bottom: 95px;
}
article ul{
    width: 100%;
    text-align: center;

}
article ul img{/*IMAGEM - REDES SOCIAIS*/
    width: 30px;
    position: relative;
    top: 90px;
}
article ul img:hover{
    width: 35px;
    transition: 440ms;
}
article li{
    list-style-type: none;
    margin: 4px 0;
}




/*ESTILO - PÁGINA CONTRATE*/
.contrate{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
}
.contrate label{
    width: 90%;
    font-weight: bold;
}
.contrate input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: white;
    font-size: 18px;
    padding: 0 10px;
}
.contrate p{
    margin: 20px 0;
    font-size: 12px;
    text-align: justify;
}
.contrate input[type="submit"]{
    background-color: #0D0D0D;
    color: #F2F2F2;
}
.contrate input[type="submit"]:hover{
    background-color: #F20505;
    cursor: pointer;
}
